<div style="text-align: center">
  <div *ngIf="isclicked">
    <h3>data After encryption is:-{{ enc }}</h3>
    <h3>data After Decryption is:-{{ dec }}</h3>
  </div>
</div>

<div>
  <div>
    <mat-card class="bgcolor" fxLayout="column" fxLayoutAlign="center center">
      <form
        [formGroup]="getcategoryFormGroup"
        (ngSubmit)="deleteCategory()"
        autocomplete="off"
      >
        <div>
          <p>
            <label class="login_header">Delete Category</label>
          </p>
        </div>

        <div>
          <mat-form-field appearance="standard">
            <mat-label>Category</mat-label>
            <input
              matInput
              formControlName="category_id"
              placeholder="Category id"
            />
            <mat-hint>Category id required</mat-hint>
          </mat-form-field>
        </div>
        <div>
          <button
            [disabled]="getcategoryFormGroup.invalid"
            mat-raised-button
            type="submit"
            color="primary"
          >
            Delete category
          </button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
